Repository mrsabath/kagenti-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-fmt-platform, go-vet-platform, go-mod-tidy-platform, k8s-yaml-validate

go-fmt:
  name: go-fmt
  entry: bash -c 'cd kagenti-operator && go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: go-vet
  entry: bash -c 'cd kagenti-operator && go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  entry: bash -c 'cd kagenti-operator && go mod tidy'
  language: system
  pass_filenames: false

go-fmt-platform:
  name: go-fmt (platform-operator)
  entry: bash -c 'cd platform-operator && go fmt ./...'
  language: system
  pass_filenames: false

go-vet-platform:
  name: go-vet (platform-operator)
  entry: bash -c 'cd platform-operator && go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy-platform:
  name: go-mod-tidy (platform-operator)
  entry: bash -c 'cd platform-operator && go mod tidy'
  language: system
  pass_filenames: false

k8s-yaml-validate:
  name: validate k8s yamls
  entry: bash -c 'find kagenti-operator/config platform-operator/config -name "*.yaml" -not -path "*/samples/*" -exec kubectl --dry-run=client apply -f {} \;'
  language: system
  pass_filenames: false

controller implementation of the agentbuild_controller
  kagenti-operator/cmd/main.go
  kagenti-operator/config/rbac/agent_admin_role.yaml
  kagenti-operator/config/rbac/kustomization.yaml
  kagenti-operator/config/samples/test-agentbuild-minimal.yaml
  kagenti-operator/config/samples/weather-agent-build.yaml
  kagenti-operator/config/samples/weather-agent-source-deployment.yaml
  kagenti-operator/internal/builder/tekton/pipeline-composer.go
  kagenti-operator/internal/builder/tekton/tekton.go
  kagenti-operator/internal/builder/tekton/workspace-manager.go
  kagenti-operator/internal/controller/agent_controller.go
  kagenti-operator/internal/controller/agentbuild_controller.go
  scripts/dev-build.sh
Due: go-fmt, go-vet, k8s-yaml-validate

adds implementation of agentbuild api
  kagenti-operator/config/rbac/kustomization.yaml
  kagenti-operator/config/samples/test-agentbuild-minimal.yaml
  kagenti-operator/config/samples/weather-agent-build.yaml
  kagenti-operator/config/samples/weather-agent-source-deployment.yaml
  kagenti-operator/docs/operator.md
  kagenti-operator/internal/builder/tekton/pipeline-composer.go
  kagenti-operator/internal/builder/tekton/tekton.go
  kagenti-operator/internal/builder/tekton/workspace-manager.go
  kagenti-operator/internal/controller/agent_controller.go
  kagenti-operator/internal/controller/agentbuild_controller.go
  scripts/dev-build.sh
Due: go-fmt, go-vet, k8s-yaml-validate

agentbuild webhook implementation
  kagenti-operator/PROJECT
  kagenti-operator/api/v1alpha1/agentbuild_types.go
  kagenti-operator/api/v1alpha1/zz_generated.deepcopy.go
  kagenti-operator/cmd/main.go
  kagenti-operator/config/certmanager/certificate.yaml
  kagenti-operator/config/certmanager/kustomization.yaml
  kagenti-operator/config/certmanager/kustomizeconfig.yaml
  kagenti-operator/config/crd/kustomization.yaml
  kagenti-operator/config/default/kustomization.yaml
  kagenti-operator/config/default/manager_webhook_patch.yaml
  kagenti-operator/config/default/webhookcainjection_patch.yaml
  kagenti-operator/config/network-policy/allow-webhook-traffic.yaml
  kagenti-operator/config/network-policy/kustomization.yaml
  kagenti-operator/config/samples/test-agentbuild-withsteps.yaml
  kagenti-operator/config/samples/weather-agent-build-and-deploy.yaml
  kagenti-operator/config/samples/weather-agent-build.yaml
  kagenti-operator/config/webhook/kustomization.yaml
  kagenti-operator/config/webhook/kustomizeconfig.yaml
  kagenti-operator/config/webhook/manifests.yaml
  kagenti-operator/config/webhook/service.yaml
  kagenti-operator/docs/agentbuild-webhook.md
  kagenti-operator/internal/builder/tekton/tekton.go
  kagenti-operator/internal/controller/agent_controller.go
  kagenti-operator/internal/webhook/v1alpha1/agentbuild_webhook.go
Due: go-fmt, go-vet, k8s-yaml-validate

agentbuild webhook implementation
  .pre-commit-config.yaml
Due: none

added agentbuild tests
  kagenti-operator/internal/controller/agentbuild_controller_test.go
Due: go-fmt, go-vet

fixed merge issues
  kagenti-operator/internal/builder/tekton/workspace-manager.go
  kagenti-operator/internal/controller/agentbuild_controller.go
Due: go-fmt, go-vet

updated tekton manifests and rbacs to allow running the new operator along with the old
  charts/kagenti-operator/templates/certmanager/certificate.yaml
  charts/kagenti-operator/templates/rbac/http-route.yaml
  charts/kagenti-operator/templates/rbac/role.yaml
  charts/kagenti-operator/templates/tekton/folder-check-step.yaml
  charts/kagenti-operator/templates/tekton/github-clone-step.yaml
  charts/kagenti-operator/templates/tekton/kaniko-build-step-external.yaml
  charts/kagenti-operator/templates/tekton/kaniko-build-step-local.yaml
  charts/kagenti-operator/templates/tekton/kaniko-build-step.yaml
  charts/kagenti-operator/templates/tekton/pipeline-template-dev-external.yaml
  charts/kagenti-operator/templates/tekton/pipeline-template-dev-local.yaml
  charts/kagenti-operator/templates/tekton/pipeline-template-dev.yaml
Due: none

changes to helm charts to support agentbuild webhook
  charts/kagenti-operator/crds/agent.kagenti.dev_agent.yaml
  charts/kagenti-operator/crds/agent.kagenti.dev_agentbuilds.yaml
  charts/kagenti-operator/crds/agent.kagenti.dev_agents.yaml
  charts/kagenti-operator/templates/_helpers.tpl
  charts/kagenti-operator/templates/certmanager/certificate.yaml
  charts/kagenti-operator/templates/manager/manager.yaml
  charts/kagenti-operator/templates/rbac/role.yaml
  charts/kagenti-operator/templates/tekton/folder-check-step.yaml
  charts/kagenti-operator/templates/tekton/github-clone-step.yaml
  charts/kagenti-operator/templates/tekton/kaniko-build-step-external.yaml
  charts/kagenti-operator/templates/tekton/kaniko-build-step-local.yaml
  charts/kagenti-operator/templates/tekton/kaniko-build-step.yaml
  charts/kagenti-operator/templates/tekton/pipeline-template-dev-external.yaml
  charts/kagenti-operator/templates/tekton/pipeline-template-dev-local.yaml
  charts/kagenti-operator/templates/tekton/pipeline-template-dev.yaml
  charts/kagenti-operator/templates/webhook/service.yaml
  charts/kagenti-operator/templates/webhook/webhooks.yaml
  kagenti-operator/api/v1alpha1/agentbuild_types.go
  kagenti-operator/config/crd/bases/agent.kagenti.dev_agentbuilds.yaml
  kagenti-operator/internal/webhook/v1alpha1/agentbuild_webhook.go
Due: go-fmt, go-vet, k8s-yaml-validate

fixed issues found in PR review
  kagenti-operator/config/samples/test-agentbuild-minimal.yaml
  kagenti-operator/config/samples/weather-agent-build.yaml
  kagenti-operator/config/samples/weather-agent-source-deployment.yaml
Due: k8s-yaml-validate

fixed issues found in PR review
  charts/kagenti-operator/templates/tekton/pipeline-template-dev-external.yaml
  charts/kagenti-operator/templates/tekton/pipeline-template-dev-local.yaml
  kagenti-operator/api/v1alpha1/agent_types.go
  kagenti-operator/config/rbac/agent_admin_role.yaml
  kagenti-operator/config/rbac/kustomization.yaml
  kagenti-operator/config/samples/agent_v1alpha1_kagentiagent.yaml
  kagenti-operator/config/samples/agent_v1alpha1_kagentiagentbuild.yaml
  kagenti-operator/internal/controller/agent_controller.go
  kagenti-operator/internal/webhook/v1alpha1/agentbuild_webhook.go
Due: go-fmt, go-vet, k8s-yaml-validate

remove sidecars from deployment. Sidecars will be injected in a webhook
  kagenti-operator/internal/controller/agent_controller.go
Due: go-fmt, go-vet

removed unused function
  kagenti-operator/internal/controller/agent_controller.go
Due: go-fmt, go-vet

fixes missing agentcard crd in charts and adds events permissions in rbac
  charts/kagenti-operator/crds/agent.kagenti.dev_agentcards.yaml
  charts/kagenti-operator/templates/rbac/role.yaml
Due: none

adds events permissions in rbac
  kagenti-operator/config/rbac/role.yaml
Due: k8s-yaml-validate

fixed redundant events permissions in role.yaml
  charts/kagenti-operator/templates/rbac/role.yaml
  kagenti-operator/config/rbac/role.yaml
Due: k8s-yaml-validate

Replace HostPath with CSI driver
  platform-operator/internal/deployer/kubernetes/kubernetes.go
Due: go-fmt-platform, go-vet-platform

Path conditions:
  go-fmt: any of: ^kagenti-operator/.*\.go$
  go-vet: any of: ^kagenti-operator/.*\.go$
  go-mod-tidy: any of: ^kagenti-operator/(go\.mod|go\.sum)$
  go-fmt-platform: any of: ^platform-operator/.*\.go$
  go-vet-platform: any of: ^platform-operator/.*\.go$
  go-mod-tidy-platform: any of: ^platform-operator/(go\.mod|go\.sum)$
  k8s-yaml-validate: any of: ^(kagenti|platform)-operator/config/.*\.yaml$
